.clear {
   clear: both;
}

/* START Modding stuff so sorting button is smoothly aligned */
.main > div:nth-child(1) > div:nth-child(1)   {padding: 0px;}  
.col-sm-6         {width: 100%; padding: 0; margin: -1px 0 0 0; background-image: linear-gradient(to top, #FFF, #EEE);}
/*.navbar-form .checkbox {width: 25%; float: right; min-width: 175px;}*/
.breadcrumbs, .main, .footer {padding: 0 0.8em 0.8em 0.8em;}
.btn i {color: #27827F;}
/* END Modding stuff so sorting button is smoothly aligned */


.powered-by {
   background-image: url("../../../themes/bootprint3-tub/images/vufind_logo.png");
   background-size: 100px;
   background-position: right;
   background-repeat: no-repeat;
   height: 40px;
}

/* Reset fa-heart and fa-home - TODO for less cleanup */
i.fa-heart, i.fa-home, i.fa-search, i.fa-book, i.fa-external-link, i.fa-shopping-cart, i.fa-globe {background-image: url('none'); width: auto; height: auto; vertical-align: baseline;}


.tub_loading {
   // Loading icon; always this way: <i class="tub_loading fa fa-circle-o-notch fa-spin"></i> <?=$this->transEsc('Loading')?>...
}


.tubbadge {
   float: right;
   font-size: 85%;
   margin-top: 1px;
   display: inline-block;
   font-size: 12px;
   font-weight: bold;
   line-height: 1;
   min-width: 10px;
   padding: 3px 7px;
   text-align: center;
   vertical-align: baseline;
   white-space: nowrap;
}

.tublabel-success {
   color: #028302;
}

.tublabel-danger {
   color: #a41915;
}

.tublabel-info {
   color: #1c5f74;
}

.tub_info_topright {width: 118px; margin: 0 0 0 2px; padding: 0;} /* Same length as Volltext-Image and order buttons */
.tub_resYear { position: absolute; bottom: 0; right:0; }

/* Cover & cols layout - letztlich muss es anders gemacht werden, aber fuers zeigen... */
div .left   {width: 17%; position: relative; min-height: 150px;}
div .middle {width: 59%; position: relative; min-height: 150px;}
div .right  {width: 24%; position: relative; min-height: 150px; padding-left: 15px;}
.result .checkbox label {position: absolute; top: 130px; left: 10px; font-weight: normal; padding: 3px; background-color: #ffffff; color: #000000; z-index: 1; -moz-border-top-right-radius: 10px; border-top-right-radius: 10px; opacity:0.95; min-width: 25px; text-align: center;} /* Org: 130px; left: 10px; */
.recordcover {width: 100px; min-width: 100px; min-height: 150px; max-height: 150px; padding: 0; margin:0; border: thin solid lightgrey}
#bookbag-menu {background-color: #fff; padding: 2px; font-size: 16px;}
#bookbag-menu .tub_bookbag_on  {color: #576ca0;}
#bookbag-menu .tub_bookbag_off {color: #a8ddf0;}
#bookbag-menu .bookbag_label {font-family: Helvetica,Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif; font-size:small;}



.col-xs-11 {width: 99% !important;}

/* Finally just use "fa-li fa-angle-right" https://fortawesome.github.io/Font-Awesome/examples/ */
.tub_lielement {
    color: #6BC1BB;
    font-style: normal;
    font-size: 20px;
    font-family: FontAwesome;
    padding-left: 10px;
}

/* VEERY nasty hack - rethink layout with proper usage of css bootstrap http://getbootstrap.com/css/ */
@media (max-width: 530px) {
   .right {
      min-height: auto !important;
      width: 140px !important;
      display: block !important;
      margin-left: 130px;
   }

   #bookbag-menu {
      position: relative;
      bottom: auto;
   }
   
   .nav-tabs ul, .search-query, .twitter-typeahead, #searchForm_type {
     width:320px !important;
   }
   .searchTab {
     width: 145px;
   }

   .recordcover {min-width: 50px; min-height: 25px;}

}

/** class to make stuff "invisible" but still readable by screen readers */
.offscreen {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    display:inline;
}


.nav-tabs {
    border-bottom: medium none;
}

.format_info {
    bottom: 0;
    position: absolute;
    max-width: 300px;
}

.pager li > a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: none;
}

label {
    display: inline;
}


.tag {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}

a.nolink {
    color: #000000;
}
a.nolink:hover {
    color: #000000;
}
